<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="camera_name" default="/stereo/left" />

  <arg name="camera_frame" default="left_link" />
  <arg name="image_topic" default="image_rect_color" />



  <!-- Set parameters -->
  <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="apriltag_nodelet" />
  <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="apriltag_nodelet"/>
  
  <node pkg="nodelet" type="nodelet" name="apriltag_nodelet" args="load apriltag_ros/ContinuousDetector standalone_nodelet --no-bond" clear_params="true" output="screen" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="left/image_rect_color" />
    <remap from="camera_info" to="left/camera_info" />

    <param name="camera_frame" type="str" value="left_link" />
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  </node>
</launch>
